/* @HannahJacobson Winter 2021 CS401 */
h1 {
    color:rgb(199, 179, 247);
    margin-left:5%;
    margin-right:5%;
    font-family: Luminari, fantasy;
}
h2 {
    margin-left:1%;
    font-family: Verdana, sans-serif;
    padding-top: 2px;
}

body {
    background-image: url(../img/space-background.jpg);
    background-color:black;

}

div {
    margin-left:4%;
    margin-right:4%;
    background-color:#dad6d6;
    
}

div p {
    margin-left:1%;
    margin-right:1%;
    padding-bottom:6px;
    
}

li {
    display: inline;
    width: 100px;
    
}

li a {
    padding: 10px;
    text-align: center;
    color: white;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #4e4a58;   
}

input[type = submit] {
    margin-left: 5%;
    background-color:#4e4a58;
    padding: 15px;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

select {
    margin-left: 5%;
    width: 300px;
    border: none;
    border-radius: 2px;
}

input[type = text] {
    margin-left: 5%;
    width: 300px;
    border: none;
    border-radius: 2px;
}

textarea {
    margin-left: 5%;
    width: 550px;
    border: none;
    border-radius: 2px;
}

label {
    display: block;
    color: white;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    margin-left: 5%;
    padding-bottom: 5px;
}

input[type = submit]:hover {
    background-color: #2f263f; 
}

li a:hover {
    background-color: #2f263f; 
}

.active {
    background-color: #2f263f;
}

.center {
      display: block;
      margin-left: auto;
      margin-right: auto; 
  }

